.card:hover {
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-width: 5px;  
    border-style: outset;
    border-color: black;
    
  }

.space {
    row-gap: 150px;
    padding-top: 35px;
}  