.edi {
    display: flex;
    flex-direction: column;
    width: 10rem; 
    border: 1px solid gray;
    border-radius: 5px;
    background-color: transparent;
  }
  .imga {
    display: none;
  }
  .sum {
    list-style: none;
    cursor: pointer;
    border: 1px solid gray;
    padding: 2px;
    width: 4rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 20px;
    background-color: white;
  }
  .ico{
    margin-right:5px;
  }
  .hel{
    padding: 6px;
    text-decoration: none;
    color: black;
  }
  .hello{
    padding: 6px;
  }
  .hel:hover{
    background-color: rgb(196, 190, 190);
  }
  
  .hello:hover{
    background-color: rgb(196, 190, 190);
  }